{% extends "base.html" %}

{% block content %}
    <form method="post">
        <div class="post-heading">
            <div class="post-info">
                Blog Id: {{rowid}} Blog Owner: {{owner}} Likes: {{likes}} UnLikes: {{unlikes}}
            </div>
            <div class="post-title">
                {{subject}}
            </div>
        </div>
        <div class="post-content">
            {{content | safe}}
        </div>
        <input type="radio" name="likeunlike" value="like" checked>Like<br>
        <input type="radio" name="likeunlike" value="unlike">Unlike<br>
        <input type="submit" value="Confirm Response?">
    </form>
{% endblock %}
